/**
	Styles CSS pour l application Netweb.
*/

/* ==============================================================================
   Tableau de resultats
   ============================================================================== */

.titre_table_resultats {
	background-color: #2FD60A;
}

.donnees_table_resultats {
	background-color: #659FEA;
}

.table_resultats {
	margin-left: 2%;
	margin-right: 2%;
}

/* ==============================================================================
   Body
   ============================================================================== */

body {
	background-color: #FEDD9C;
}
