
.titre_table_resultats {
	background-color: #2FD60A;
}

.donnees_table_resultats {
	background-color: #659FEA;
}

.table_resultats {
	margin-left: 2px%;
	margin-right: 2px%;
}

body {
	background-color: #FEDD9C;
}